html,
body {
  height: 100%;
}
/* 共通 */
body {
  font-family: sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #801919;
  font-weight: bold;
}
body a,
body a:visited {
  color: #801919;
}
body .clear {
  clear: both;
}
body #wrapper {
  background: url('/sukimap/image/background.png');
}
body #title {
  background: url('/sukimap/image/header_back.png');
  text-align: center;
  margin-bottom: 10px;
}
body #title img {
  width: 148px;
  height: 40px;
}
body img[src*="iws3.png"] {
  display: none;
}
body #main-content {
  padding: 5px;
}
body #map-preview {
  margin-left: 10px;
  width: 290px;
  height: 290px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #787878;
}
body .footer {
  margin-top: 40px;
  padding: 5px;
}
body .footer #copyright {
  margin-top: 20px;
  font-size: 60%;
  text-align: center;
  color: #666;
}
body .message {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 10px;
}
body .message img.flag {
  margin-right: 4px;
  width: 12px;
  height: 18px;
  vertical-align: middle;
}
body .share .message {
  margin-left: 0px;
}
body .image-button {
  background: transparent;
  border: none;
  padding: 0 10px;
  cursor: pointer;
}
body .image-button:active {
  padding: 0 10px;
  cursor: pointer;
}
body .line {
  margin-top: 10px;
  margin-bottom: 10px;
}
body .line .line-image {
  width: 305px;
  height: 20px;
}
body .attension {
  font-size: 90%;
  font-weight: normal;
}
/* 各ページ */
body#main img.guide-image {
  margin-left: -5px;
  width: 306px;
  height: 280px;
}
body#main .start {
  margin-top: 10px;
  margin-bottom: 10px;
}
body#main .start img.start-button {
  width: 290px;
  height: 56px;
}
body#edit-page .faces {
  margin-left: 10px;
  margin-bottom: 10px;
}
body#edit-page .faces .face-wrapper {
  float: left;
  width: 73px;
  height: 73px;
  position: relative;
}
body#edit-page .faces label {
  display: block;
  width: 73px;
  height: 73px;
}
body#edit-page .faces img {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 1px;
  width: 65px;
  height: 70px;
  cursor: pointer;
}
body#edit-page .faces input {
  display: none;
}
body#edit-page .faces input:checked + img {
  background: url('/sukimap/image/face_select.png');
  background-size: 73px 73px;
}
body#edit-page .message-container {
  margin-bottom: 20px;
}
body#edit-page .message-container textarea {
  margin: 4px;
  width: 290px;
  border: 2px solid pink;
  border-radius: 2px;
  padding: 5px;
}
body#edit-page img.ok-button {
  width: 290px;
  height: 56px;
}
body#suita-page .time-back {
  width: 94px;
  height: 24px;
  margin-bottom: 20px;
  margin-left: -5px;
  background: url('/sukimap/image/time_back.png');
  background-size: 94px 24px;
}
body#suita-page .time-back #ago {
  margin-left: 10px;
  padding: 2px 5px;
  color: white;
  font-weight: bold;
}
body#suita-page .share {
  margin-left: 10px;
}
body#suita-page .share .twitter-container {
  margin-top: 20px;
  margin-bottom: 10px;
}
body#suita-page .share .facebook-container {
  margin-bottom: 20px;
}
body#suita-page .share .social-button {
  width: 290px;
  height: 56px;
}
body#suita-page .created-message {
  display: none;
  margin-left: 10px;
  margin-bottom: 5px;
}
#shops,
#shop-preview {
  margin: 0 -5px;
  border-top: 2px solid #FCE28D;
}
#shops .shop,
#shop-preview .shop {
  background: none repeat scroll 0 0 #FDFAF1;
  border-bottom: 2px solid #FCE28D;
}
#shops .shop a,
#shop-preview .shop a {
  display: block;
  padding: 10px;
  text-decoration: none;
}
#shops .shop a .photo,
#shop-preview .shop a .photo {
  background-position: center center;
  background-size: cover;
  border-radius: 5px 5px 5px 5px;
  float: left;
  height: 60px;
  margin-right: 10px;
  overflow: hidden;
  width: 60px;
}
#shops .shop a .shop-d,
#shop-preview .shop a .shop-d {
  margin-left: 70px;
}
#shops .shop a .name,
#shop-preview .shop a .name {
  color: #a62020;
  font-size: 120%;
  margin-top: -2px;
}
#shops .shop a .catch,
#shop-preview .shop a .catch {
  color: #858585;
  font-size: 86%;
  color: #858585;
  font-size: 86%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 230px;
}
#shops .shop a .budget-title,
#shop-preview .shop a .budget-title,
#shops .shop a .budget,
#shop-preview .shop a .budget,
#shops .shop a .open-title,
#shop-preview .shop a .open-title,
#shops .shop a .open,
#shop-preview .shop a .open {
  color: #858585;
  font-size: 80%;
}
#shops .shop a .budget-title,
#shop-preview .shop a .budget-title,
#shops .shop a .open-title,
#shop-preview .shop a .open-title {
  float: left;
}
#shops .shop a .budget,
#shop-preview .shop a .budget,
#shops .shop a .open,
#shop-preview .shop a .open {
  word-wrap: break-word;
  margin-left: 50px;
  font-weight: normal;
}
.shoptitle-back {
  width: 170px;
  height: 24px;
  margin: 15px 0 10px -5px;
  background: url('/sukimap/image/shoptitle_back.png');
  background-size: 170px 24px;
}
.shoptitle-back .shoptitle {
  margin-left: 10px;
  padding: 2px 5px;
  color: white;
  font-weight: bold;
}
#shop-preview {
  margin: 0;
  border: none;
}
#shop-preview .shop {
  border: 2px solid #FCE28D;
  background: none repeat scroll 0 0 #FDFAF1;
  border-radius: 5px 5px 5px 5px;
  margin: 0 5px;
}
#shop-preview .shop .catch {
  width: 200px !important;
}
.apis .api {
  float: left;
}
.apis .hotpepper-bana {
  margin: 15px 15px 15px 0;
}
.api-message {
  margin: 10px 0 0;
}
