html, body {
    height: 100%;
}

/* 共通 */
body {
    font-family: sans-serif;
    font-size: 12px;
    margin:0;
    padding:0;
    color: #801919;
    font-weight: bold;

    a, a:visited {
        color: #801919;
    }

    .clear {
        clear: both;
    }

    #wrapper {
        background: url('/sukimap/image/background.png');
    }

    #title {
        background: url('/sukimap/image/header_back.png');
        text-align: center;
        margin-bottom: 10px;
        img {
            width: 148px;
            height: 40px;
        }
    }

    img[src*="iws3.png"] {
        display: none;
    }

    #main-content {
        padding: 5px;
    }

    #map-preview {
        margin-left: 10px;
        width: 290px;
        height: 290px;
        margin-top: 10px;
        margin-bottom: 10px;
        background: #787878;
    }

    .footer {
        margin-top: 40px;
        padding: 5px;

        #copyright {
            margin-top: 20px;
            font-size: 60%;
            text-align: center;
            color: #666;
        }
    }

    .message {
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-right: 10px;
        img.flag {
            margin-right: 4px;
            width: 12px;
            height: 18px;
            vertical-align: middle;
        }

    }
    .share .message {
        margin-left: 0px;
    }


    .image-button {
        background: transparent;
        border: none;
        padding:0 10px;
        cursor: pointer;
    }
    .image-button:active {
        padding:0 10px;
        cursor: pointer;
        
    }

    .line {
        margin-top: 10px;
        margin-bottom: 10px;
        .line-image {
            width: 305px;
            height: 20px;
        }
    }

    .attension {
        font-size: 90%;
        font-weight: normal;
    }
}

/* 各ページ */

body#main {

    img.guide-image {
        margin-left: -5px;
        width: 306px;
        height: 280px;
    }

    .start {
        margin-top: 10px;
        margin-bottom: 10px;

        img.start-button {
            width: 290px;
            height: 56px;
        }
    }
}

body#edit-page {
    .faces {
        margin-left: 10px;
        margin-bottom: 10px;

        .face-wrapper {
            float: left;
            width: 73px;
            height: 73px;
            position: relative;
        }

        label {
            display: block;
            width: 73px;
            height: 73px;
        }

        img {
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 2px;
            padding-bottom: 1px;
            width: 65px;
            height: 70px;
            cursor: pointer;
        }
        input {
            display: none;
        }
        input:checked+img {
            background: url('/sukimap/image/face_select.png');
            background-size: 73px 73px;
        }
    }

    .message-container {
        margin-bottom: 20px;
        textarea {
            margin: 4px;
            width: 290px;
            border: 2px solid pink;
            border-radius: 2px;
            padding: 5px;
        }
    }

    img.ok-button {
        width: 290px;
        height: 56px;
    }
}

body#suita-page {
    .time-back {
        width: 94px;
        height: 24px;
        margin-bottom: 20px;
        margin-left: -5px;
        background: url('/sukimap/image/time_back.png');
        background-size: 94px 24px;

        #ago {
            margin-left: 10px;
            padding: 2px 5px;
            color: white;
            font-weight: bold;
        }
    }
    .share {
        margin-left: 10px;

        .twitter-container {
            margin-top: 20px;
            margin-bottom: 10px;
        }
        .facebook-container {
            margin-bottom: 20px;
        }

        .social-button {
            width: 290px;
            height: 56px;
        }
    }

    .created-message {
        display: none;
        margin-left: 10px;
        margin-bottom: 5px;
    }

}

#shops,#shop-preview{
  margin:0 -5px;
  border-top: 2px solid #FCE28D;
  .shop{    
    background: none repeat scroll 0 0 #FDFAF1;
    border-bottom: 2px solid #FCE28D;
    a{
      display:block;
      padding:10px;
      text-decoration:none;
      .photo{
         background-position: center center;
         background-size: cover;
         border-radius: 5px 5px 5px 5px;
         float: left;
         height: 60px;
         margin-right: 10px;
         overflow: hidden;
         width: 60px;
       }
      .shop-d{
        margin-left:70px;
      }
      .name{
        color:#a62020;
        font-size:120%;
        margin-top: -2px;
      }
      .catch{
        color:#858585;
        font-size:86%;
        color: #858585;
        font-size: 86%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 230px;
      }
      .budget-title,.budget,.open-title,.open{
        color:#858585;
        font-size:80%;	
      }
      .budget-title,.open-title{
        float:left;
      }
      .budget,.open{
        word-wrap: break-word;
        margin-left: 50px;
        font-weight: normal;
      }
    }
  }
}

.shoptitle-back {
     width: 170px;
     height: 24px;
     margin: 15px 0 10px -5px;
     background: url('/sukimap/image/shoptitle_back.png');
     background-size: 170px 24px;
    .shoptitle {
        margin-left: 10px;
        padding:2px 5px;
        color: white;
        font-weight: bold;
    }
}


#shop-preview{
  margin:0;
  border:none;
  .shop{    
    border: 2px solid #FCE28D;
    background: none repeat scroll 0 0 #FDFAF1;
    border-radius: 5px 5px 5px 5px;
    margin: 0 5px;
    .catch{
      width: 200px !important;
    }
  }
}

.apis{
  .api{
    float:left;
  }
  .hotpepper-bana{
    margin:15px 15px 15px 0;
  }
}

.api-message{
  margin:10px 15px 0;
  font-wize: 90%;
}