input#speed {
    width: 600px;
}

#control canvas:hover {
    background: gray;
    cursor: pointer;
}

#stage {
    width: 780px;
    height: 780px;
    position: relative;
    background: url('mandara.jpg')
}

button {
    font-size: 40px;
}