body {
    overflow: hidden;
}

input#speed {
    width: 600px;
}

#stage {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #338;
}

img.note {
    z-index: 10000;
    position: absolute;
}

img.part {
    position: absolute;

    /* -webkit-animation-duration: 60s; */
    /* -webkit-animation-timing-function: linear; */
    /* -webkit-animation-iteration-count: infinite; */
    /* -webkit-animation-name: rotate; */
}


@-webkit-keyframes rotate {
	0% { -webkit-transform: rotate(0); }
	100% { -webkit-transform: rotate(360deg); }
}

img#center {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -175px;
    width: 350px;
    height: 350px;
    z-index: 12000;

    /* -webkit-animation-duration: 60s; */
    /* -webkit-animation-timing-function: linear; */
    /* -webkit-animation-iteration-count: infinite; */
    /* -webkit-animation-name: rotate; */
}

img#bg-right {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100%;
}

img#bg-left {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
}

#fps {
    display: inline;
    font-size: 40px;
    position: absolute;
    right: 1em;
    top: 0px;
    z-index: 100000;
    color: #0f0;
    font-weight: bold;
}