input#speed {
    width: 600px;
}

#control canvas:hover {
    background: gray;
    cursor: pointer;
}

#stage {
    width: 700px;
    height: 700px;
    position: relative;
    /* background: url('mandara.jpg') */
}

button {
    font-size: 40px;
}

img.note {
    z-index: 1000;
    position: absolute;
}

img.part {
    position: absolute;
}