.clear {
    clear: both;
}

#copyright {
    text-align: center;
}

#index-page {

    #kyotocamera-container {
        width: 840px;
        padding-top: 50px;
    }

    section {
        margin-bottom: 30px;
    }

    .title {
        margin-bottom: 30px;
        h1 {
            img.logo {
                width: 96px;
                height: 96px;
            }
        }
    }

    .screen-shot {
        .iphone {
            position: relative;
            img.base {
                width: 294px;
                height: 592px;
            }

            img.display {
                position: absolute;
                left: 34px;
                top: 88px;
                width: 228px;
                height: 406px;
            }
        }
    }

    .description {
        p {
            margin-bottom: 2em;
        }
    }

    .download-container {
        img.download {
            width: 300px;
        }
    }

    .photo-item {
        display: inline-block;
        width: 192px;
        height: 192px;
        margin: 5px;
        img {
            width: 192px;
            height: 192px;
        }
    }
}

#guide-page {
    margin: 10px;

    .sample-item {

        h3 {
            font-size: 18px;
            line-height: 25px;
        }

        img {
            width: 300px;
            height: 300px;
        }
    }
}