body {
    font-family: sans-serif;
    margin:0;
    padding:0;
}

a {
    color: #777777;
}

#header {
  width:100%;
  background-color:#000000;
  height:40px;
}

#header-inner {
  width:960px;
  margin:0 auto;
  padding:0;
  float:0;
}

#header .buttons {
    vertical-align: middle;
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}

#container{
  width:960px;
  margin:0 auto;
  padding:0;
  float:0;
}
#l-contents{
  float:left;
  margin:15px 0;
}

.logo {
    height:30px;
    margin-top:5px;
}



.cursor-preview {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 20px;
    z-index: 100;
    margin-top: 15px;
    margin-left: 15px;
}

/* ---left--- */

.service-description{
    color: #333333;
    font-size: 90%;
    margin: 0 0 10px;
}

#l-contents input.url {
    border: 1px solid #CCCCCC;
    font-size: 80%;
    margin: 0;
    padding:7px;
    width: 570px;
}

#l-contents input.load {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    height: 31px;
    margin-left: 5px;
    padding: 5px;
    width: 80px;
}

#guide-or-main {
    position: relative;
    width: 670px;
    height: 500px;
    margin:10px 0 15px;
    border: 3px solid #dcdcdc;
    background-color:#f9f9f9;
}

.dropped #guide-or-main {
    background-color: #ffffff;
}

.hovering #guide-or-main {
    background-color: #e4e2e2;
}

#guide-image {
    background-image: url("main-image.png");
    background-repeat: no-repeat;
    width: 500px;
    height: 400px;
    margin-left: 75px;
    margin-top: 140px;
}

.hovering #guide-image {
    background-image: url("main-image-hover.png");
 }

#guide {
    display: block;
}

.dropped #guide {
    display: none;
}

.hovering #guide {
    display: block;
}

#main {
    display: none;
}

.dropped #main {
    display: block;
}

.hovering #main {
    display: none;
}

#image-container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 670px;
    height: 400px;
}

#image-container canvas {
    max-width: 670px;;
    max-height: 400px;
    cursor: pointer;
    z-index: 90;
}

#image-container canvas.fit-x {
    /* width: 100%; */
}

#image-container canvas.fit-y {
    /* height: 100%; */
}


#stripe-container {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 670px;
    height: 97px;
    border-top: 3px solid #dcdcdc;
    overflow: hidden;
    cursor: pointer;
}

#link-container {
    display: none;
}

.dropped #link-container {
    display: block;
    position: absolute;
    right: 0px;
    bottom: -30px;
}

#link-container .download {
    font-size: 80%;
}

/* side bar */

#sidebar {
    background: none repeat scroll 0 0 #ffffff;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    float: right;
    height:625px;
    width: 250px;
    position:relative;
}

#picked-colors {
    height: 440px;
    margin: 0 0 10px 10px;
    opacity: 1;
    overflow-y: auto;
}

.description {
  font-size:80%;
  color:#777777;
  margin: 50px 10px 15px;
}


.color-sample {
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align:middle;
    border: 1px solid #EEEEEE;
}

.picked-color-item input {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 15px;
    width: 155px;
}

.picked-color-item{
  margin-bottom:10px;
}


.delete-button {
    cursor: pointer;
    vertical-align: middle;
}

#delete-all-button {
    cursor: pointer;
    background-color: #f9f9f9;
    border: 3px solid #DCDCDC;
    color: #777777;
    margin:10px 10px 30px;
    padding: 5px 0;
    text-align: center;
    position:absolute;
    bottom:0;
    width:225px;
}

#delete-all-button:hover {
  background-color:#ffffff;
}

.description, #delete-all-button {
    display: none;
}

.dropped .description, .dropped #delete-all-button {
    display: block;
}

/* ad */

#ad {
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    display: inline-block;
    height: 180px;
    list-style: none outside none;
    margin: 0 0 10px;
    padding: 10px 0;
    width: 100%;
}

#ad li{
    border: 1px solid #CCCCCC;
    display: inline-block;
    height: 180px;
    margin: 0 2px;
    padding: 0;
    width: 180px;
}

#ad li .inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 180px;
    height: 180px;
}

#ad img {
    max-width: 140px;
    max-height: 140px;
}

/* footer */

#footer {
  text-align:center;
  font-size:80%;
  color:#777777;
  margin-bottom: 30px;
}


.hidden {
    display: none;
}