html,
body {
  height: 100%;
  overflow: hidden;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  min-width: 1040px;
  font-family: sans-serif;
  cursor: pointer;
}
a,
a:visited {
  text-decoration: none;
  color: #fff;
}
canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 100;
}
.sorry {
  text-align: center;
  font-size: 30px;
  margin: 100px;
}
#tap-to-start {
  display: none;
  text-align: center;
  font-size: 30px;
  padding: 100px;
  padding-bottom: 2000px;
  font-weight: bold;
}
#footer {
  color: white;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 200;
  width: 100%;
  height: 70px;
}
#footer.wait-touch {
  background: yellow;
}
#footer #tshirts {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
#footer #tshirts img {
  margin-right: 10px;
  height: 50px;
}
#footer #volume {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 100;
}
#footer #volume img {
  vertical-align: bottom;
  height: 25px;
}
#footer #volume .sound-on {
  display: none;
}
#footer #volume .sound-off {
  display: block;
}
#footer #volume.on .sound-on {
  display: block;
}
#footer #volume.on .sound-off {
  display: none;
}
#footer #copy {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  position: absolute;
  left: 0px;
  bottom: 10px;
  width: 100%;
  z-index: 10;
}
#footer #copy:hover {
  text-decoration: underline;
}
