.float {
    float: left;
}

.clear {
    clear: both;
}

#indicator {
    display: none;
}

/* title */

#title img {
    width: 320px;
    height: 50px;
}

/* page */

.page {
    margin: 5px;
}

/* city selector */
#city-selector-container {
    margin-top: 20px;
}

select#city-selector {
    width: 180px;
}

/* weather result */

#result {
    margin-top: 20px;
}

#area {
    font-size: 120%;
}

#date {
    min-width: 80px;
}




/* weather result image */

#images {
    margin-top: 20px;
}

.day {
    float: left;
    width: 155px;
}

.day .wear-image img {
    width: 155px;
    height: 240px;
}

#weather-icons img {
    width: 16px;
    height: 16px;
}

.wear-icons img {
    width: 31px;
    height: 31px;
}

/* weather result comment */

#comment {
    margin-top: 20px;
    margin-left: 5px;
    margin-left: 5px;
    border-radius: 5px;
    padding: 5px;
    min-height: 80px;
    line-height: 1.5;
}

/* share button*/

#share-tweet-container {
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}
#share-tweet {
    display: block;
    border: 1px solid #333;
    text-decoration: none;
    text-alicn: center;
    color: #333;
    padding: 2px;
    border-radius: 4px;
}

/* tweets */

#widget-container {
    margin-top: 40px;
    margin-bottom: 20px;
    min-height: 480px;
}

/* guide */
#guide {
    margin-top: 40px;
}

/* apis */
.api {
    margin-top: 10px;
}
.tenki-logo {
    text-decoration: none;
    color: #333;
    font-size: 80%;
}
