body {
    color: #333;
}

.center {
    text-align: center;
}

.float {
    float: left;
}

.float-right {
    float: right;
}

.clear {
    clear: both;
}

#wrapper {
    background: url(/kasanegi/images/background.png);
}

#indicator {
    margin: 50px;
    height: 500px;
}

#indicator .message {
    text-align: center;
}

/* title */

#title-container {
    position: relative;
    height: 44px;
}

#title img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 320px;
    height: 44px;
}

#back-to-main {
    position: absolute;
    left: 10px;
    top:  8px;
    cursor: pointer;
}

#back-to-main img {
    width: 50px;
    height: 24px;
}

#help-button {
    position: absolute;
    right: 10px;
    top:  8px;
    cursor: pointer;
}

#help-button img {
    width: 50px;
    height: 24px;
}


/* page */

.page {
    margin: 5px;
    display: none;
}

/* city selector */

#city-selector-container {
    margin-top: 10px;
}

select#city-selector {
    width: 180px;
}

#reset-city {
    margin-left: 1em;
}

/* calendar */
#calendar-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.calendar-day {
    cursor: pointer;
}

.calendar-day.selected {
    font-weight: bold;
}

.calendar-day.saturday {
    color: blue;
}

.calendar-day.sunday {
    color: red;
}

/* first time guide */
#first-time-guide {
    display: none;
    margin-top: 10px;
}

#first-time-guide .more {
    text-align: right;
}

#first-time-guide .more a {
    font-size: 90%;
    color: #d42c0a;
}

/* weather result */

#result {
    margin-top: 10px;
    display: none;
}

#area {
    font-weight: bold;
    color: #333;
}

#date {
    color: #666;
    font-size: 90%;
}

#description {
    font-size: 80%;
    color: #666;
    text-align: right;
    margin-top: 2px;
}

/* weather result image */

#images {
    margin-top: 0px;
}

.heat {
    font-size: 80%;
    text-align: center;
}

#day-max .heat {
    color: #c44;
}

#day-min .heat {
    color: #44c;
}

.day {
    float: left;
    width: 155px;
}

.day .wear-image {
    position: relative;
    width: 155px;
    height: 240px;
}

.day .wear-image img {
    width: 155px;
    height: 240px;
    position: absolute;
    left: 0px;
    top: 0px;
}

#weather-icons img {
    width: 42px;
    height: 42px;
    margin-left: 5px;
    border: 1px solid #b4b4b4;
}

.wear-icons {
    padding-left: 3px;
}

.wear-icons img {
    width: 36px;
    height: 36px;
    margin-right: -1px;
    margin-top: 3px;
    border: 1px solid #b4b4b4;
}

/* weather result comment */

#comment {
    margin: 20px;
    line-height: 1.5;
    font-size: 90%;
}

/* share button*/

#share-tweet-container {
    margin-top: 20px;
    text-align: center;
}

#share-tweet-container img {
    width: 202px;
    height: 45px;
}


/* tweets */

#widget-container {
    margin-top: 40px;
    margin-bottom: 20px;
    min-height: 480px;
}

/* guide */

#guide {
}

/* guide, help image */
.help-image-container {
    margin-top: 10px;
    text-align: center;
}

.help-image {
    width: 310px;
    height: 140px;
}

.help-button-image {
    margin-top: 20px;
    width: 202px;
    height: 45px;
}


#guide-api {
    font-size: 90%;

    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

/* apis */
.api-message {
    margin-top: 20px;
    font-size: 80%;
    text-align: center;
}
.api {
    margin-top: 20px;
    margin-left: 85px;
}
.api img {
    width: 125px;
}

.tenki-logo {
    text-decoration: none;
    color: #333;
    font-size: 60%;
}

/* authors */
.authors {
    margin-left: 100px;
}

.authors img {
    width: 24px;
    height: 24px;
}

.authors a {
    color: #333;
    text-decoration: none;
}

/* facebook */

.fb-container {
    margin-top: 40px;
    margin-left: 5px;
}

/* copyright */

#copyright {
    margin-top: 20px;
    font-size: 60%;
    text-align: center;
    color: #666;
}

